@font-face {
    font-family: 'Poetsen One';
    src: url(/assets/font/PoetsenOne-Regular.ttf);
}
body{
    background-image: url(../assets/img/sunset-4823507_1280.jpg) ;
    background-repeat: no-repeat;
    background-size:cover
}

.main_container{
    background:radial-gradient(#f56a6a, #dec87a);
    text-align:left;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
    border-radius: 1rem;
}

h1{
    padding: 2%;
    text-align: center;
    font-family: 'Poetsen One';
    font-size: 40px;    
}
ol{
    list-style: none;
}
li{
    font-family: 'Poetsen One';
    place-items: end space-between;
}
input{
    border-radius: 5px;
    border: none;
}
button{
    font-family: 'Poetsen One';
    font-size: 14px;
    padding: 0.7rem;
    border: solid 3px black;
    align-items: flex-end;
    height: 2.5rem;
}
button.btn_cleanse{
    border-color: red;
    color:red;
}
button.btn_create{
    position: absolute;
}
.task_list_container{
    display: flex;
    align-items: center;
    justify-content: center;
}
button.btn_cleanse:hover{
    border-color: red;
    color:white;
    background: red;
}

.btn_delete_container{
    display: flex;
    align-items: flex-end;
    justify-content: end;
}
button:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}

/* El pseudoselector hover evalua la condicion de tener el raton encima del elemento. */